body {
    width: 470px;
	    background: #6dcbff;
}
.logo span {
    color: #409c04;
    font-size: 19px;
    font-weight: 900;
}
textarea#cover {
    width: 97%;
}
.select_list {
    margin: 20px 0;
}
input#title, input#biddername {
    width: 78%;
    padding: 10px;
}
h3 {
    font-size: 18px;
}
#heading {
    font-size: 16px;
    color: #2bb1f0;
    margin-bottom: 5px;
    font-weight: bold;
}
#copytitle{
       background: #48cc65;
    padding: 10px;
    float: right;
    width: 100px;
    border: 1px #40b95a solid;
}
.content {
    margin-top: 7px;
}
input#title {
    width: 78%;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 3px;
}
.content textarea {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
    border-radius: 3px;
		padding: 9px;
}
#copytitle {
    background: #48cc65;
    padding: 10px;
    float: right;
    width: 100px;
    border: 1px #40b95a solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    cursor: pointer;
    color: #fff;
}
body {
    width: 470px;
    background: #6dcbff03;
    padding: 15px;
}
* {
    margin: 0;
    padding: 0;
}
h3.heading_ext {
    font-size: 22px;
    text-align: center;
}
body h3 {
    color: #505050cf;  
}
.clear{clear:both;}
.logo {
    width: 76%;
    display: inline-block;
}
.header_ext {
   
    display: inline-block;
    vertical-align: top;
}
.cross_section {
    display: inline-block;
    width: 10%;
    vertical-align: top;
    text-align: right;
}
p#error-message {
    color: #d60808;
    margin-bottom: 4px;
}
div#biddername {
    text-align: right;
    text-transform: capitalize;
    color: #616161;    
    display: inline-block;
    font-weight: 600;
    margin-right: 10px;
}
a#deleteCookie {
    color: red;
    padding: 3px 8px;
    background: #f3f3f3;
    font-weight: 600;
	box-shadow: 2px 2px 2px #d4d4d4;
}
.logo img {
    max-width: 100%;
}

p#label {
    display: inline-block;
}
div#skillsList {
    display: inline-block;
}
#skillsList span {
    display: inline-block;
    background: #64c921;
    font-size: 11px;
    padding: 3px 10px;
    box-shadow: 2px 2px 2px #64c921;
    margin-right: 3px;
    color: #fff;
    font-weight: 600;
}
.skills_section {
    padding-top: 10px;
}
.body-section .select_list h3 {
    font-size: 16px;
    color: #000;
    font-weight: 400;
    display: inline-block;
    width: 23%;
}
select#list {
    width: 100%;
    padding: 11px 5px;
    font-size: 13px;
    border: 1px solid #d6d7d5;
    color: #2f2f2f;
    display: inline-block;
    background: #fff;
}
/* style the container */
.container {
  position: relative;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px 0 30px 0;
} 

/* style inputs and link buttons */
.container input,
.container .btn {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 4px;
  margin: 5px 0;
  opacity: 0.85;
  display: inline-block;
  font-size: 17px;
  line-height: 20px;
  text-decoration: none; /* remove underline from anchors */
}

.container input:hover,
.btn:hover {
  opacity: 1;
}



/* style the submit button */
.container input[type=submit] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.container input[type=submit]:hover {
  background-color: #45a049;
}

/* Two-column layout */
.col {
  float: left;
  width: 50%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* vertical line */
.vl {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border: 2px solid #ddd;
  height: 175px;
}

/* text inside the vertical line */
.vl-innertext {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #f1f1f1;
  border: 1px solid #ccc;
  border-radius: 50%;
  padding: 8px 10px;
}
.response {
    text-align: center;
}
.response p.error {
    color: red;
    border: 1px solid;
    padding: 5px;
    margin: 15px;
    border-radius: 5px;
    background: #ffe0e0;
}
/* hide some text on medium and large screens */
.hide-md-lg {
  display: none;
}

/* bottom container */
.bottom-container {
  text-align: center;
  background-color: #666;
  border-radius: 0px 0px 4px 4px;
}


/* Responsive layout - when the screen is less than 650px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
  /* hide the vertical line */
  .vl {
    display: none;
  }
  /* show the hidden text on small screens */
  .hide-md-lg {
    display: block;
    text-align: center;
  }
}